<ngp-toolbox></ngp-toolbox>

<div style="padding: 15px;">
    <p editable="title" style="font-size: 18px;">Pagetitle</p>

    <flexbox>
        <item container="main">
            <span editable="error_text" title="Error text goes here" style="color: red;">
                Initial error message here
            </span>
            <flexbox>
                <div *ngFor="let col of [1,2,3]" container="k6M4n8N5Q"></div>
            </flexbox>
        </item>
    </flexbox>
    
    <br><hr><br>
    <button onclick="app.startEdit();">Edit</button>
    <button onclick="app.endEdit();">Stop edit</button>
</div>