<div class="publify-toolbox">
    <div class="publify-toolbox__header">
        <div class="publify-toolbox__header--username">Jacob Kofoed <i class="fa fa-angle-down"></i></div>
    </div>
    <div class="publify-toolbox__tabs">
        <div class="publify-toolbox__tabs--tab" title="Page properties"><i class="fa fa-file"></i></div>
        <div class="publify-toolbox__tabs--tab" title="Drop modules"><i class="fa fa-object-group"></i></div>
        <div class="publify-toolbox__tabs--tab" title="Format text" style="background: #3b2b3b"><i class="fa fa-font"></i></div>
        <div class="publify-toolbox__tabs--tab" title="Change preview mode"><i class="fa fa-mobile"></i></div>
        <div class="publify-toolbox__tabs--tab" title="Settings"><i class="fa fa-cogs"></i></div>
        <div class="publify-toolbox__tabs--tab" title="Update available"><i class="fa fa-download important-download-available"></i></div>
        
    </div>        
    <div class="publify-toolbox__body">
        <span class="publify-toolbox__tool--title">insert</span>
        <div class="flexbox-justified">
            <i class="fa fa-image"></i>
            <i class="fa fa-paperclip"></i>
        </div>
        <span class="publify-toolbox__tool--title">format</span>
        <div class="flexbox-justified">
            <i class="tool--font-bold fa fa-bold"></i>
            <i class="fa fa-italic"></i>
            <span class="vr">|</span>
            <i class="tool--font-color fa fa-font"></i>
            <span class="vr">|</span>
            <i class="fa fa-list-ul"></i>
            <i class="fa fa-list-ol"></i>
        </div>
        <span class="publify-toolbox__tool--title">alignment</span>
        <div class="flexbox-justified">
            <i class="fa fa-align-left"></i>
            <i class="fa fa-align-center"></i>
            <i class="fa fa-align-right"></i>
        </div>
    </div>
    <div class="publify-toolbox__footer">
        <button class="publify-toolbox__footer--publish-btn">Publish <i class="fa fa-angle-right"></i></button>
    </div>
    
    <div class="publify-toolbox__scaler"></div>
</div>